.header{
    display: flex;
    left: 200px;
    position: relative;
}

.header-left{
    position: relative;
    background-color: #f0f2f5;
    width: 200px;
    height: 50px;
    display: flex;
    justify-content: center;
}

.header-left-subtext{
    font-size: 14px;
    margin-top: 27px;
}

.header-left-text{
    position: absolute;
    top: 5px;
    font-size: 24px;
}

.header-right-line{
    position: absolute;
    border-bottom: 1px solid #dcdcdc;
    width: 800px;
    left: 152px;
    top: 50px;
}

.img-top{
    position: absolute;
    top: 5px;
    right: 55px;
}

#menu{
    width: 200px;
    background-color: #434a54;
    height: 590px;
    position: absolute;
    top: 50px;
    left: 200px;
}

.content{
    position: absolute;
    top: 85px;
    display: flex;
    left: 425px;
}

.line-side{
    border-left: 1px solid #43a4ff;
    height: 30px;
}

.title{
    font-size: 20px;
    padding-left: 10px;
}

.title-destaq{
    font-weight: bold;
}

.subtext{
    margin: 30px 0 0 425px;
    width: 350px;
}

.text{
    color: #977b7b;
    margin: 70px 0 0 425px;
}

.hamburguer-menu{
    position: absolute;
    top: 10px;
    left: 10px;
    color:#f0f2f5;
}

.tutorial{
    background-color: #308ac3;
    width: 170px;
    display: flex;
    margin: 0 auto;
    top:45px;
    position: relative;
    color: #ffffff;
    height: 30px;
    align-items: center;
    font-size: 14px;
    border-radius: 3px;;
}

.img-info-cicle{
    position: absolute;
    left: 15px;
}

.text-tutorial{
    margin-left: 40px;
}

#icons-links{
    display: flex;
    color: #f0f2f5;
    position: relative;
    top: 45px;
}

.text-link{
    margin-left: 10px;
    width: 130px;
}

#space{
    position: relative;
    margin-top: 20px;
}

.space-text-arrow{
    display: flex;
    margin-left: 20px;
}

 #followup-time{
    display: flex;
    background-color: #00af59; 
    margin-top: 60px;
    width: 200px;
}

 #followup-task{
    background-color: #ec3333;
    display: flex;
    width: 200px;
}  

.content-line{
    width: 70px;
    height: 7px;
    background-color: #ffae00;
    position: relative;
    left: 423px;
    margin-top: 5px;
}

.user-action{
    background-color: #00aeff;
    width: 200px;
    color: #ffffff;
    height: 40px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    margin: 40px 0 0 425px;
}

#links-navigation{
    background-color: #e4e4e4;
    width: 170px;
    height: 50px;
    color: #ffffff;
    font-size: 22px;
    position: relative;
    top: -180px;
    left: 425px;
    display: none;
}

.words-links{
    padding: 10px 15px;
}

.mensage{
    background-color: red;
    width: 370px;
    height: 100px;
    border-radius: 10px;
    position: absolute;
    color: #ffffff;
    padding: 12px 5px 0 15px;
    position: absolute;
    left: 800px;
    display: none;
}

.positive-answer{
    display: none;
}

.pag-1{
    margin: -60px 0 0 425px;
    display: none;
}





