.header{
    display: flex;
    left: 175px;
    position: absolute;
}

.header-left{
    position: relative;
    background-color: #f0f2f5;
    width: 200px;
    height: 50px;
    display: flex;
    justify-content: center;
}

.header-left-subtext{
    font-size: 14px;
    margin-top: 27px;
}

.header-left-text{
    position: absolute;
    top: 5px;
    font-size: 24px;
}

.header-right-line{
    position: absolute;
    border-bottom: 1px solid #dcdcdc;
    width: 950px;
    left: 152px;
    top: 50px;
}

.img-top{
    position: absolute;
    top: 5px;
    right: 55px;
}

#menu{
    width: 200px;
    background-color: #434a54;
    height: 1150px;
    position: absolute;
    top: 50px;
    left: 175px;
}

.content{
    position: absolute;
    top: 85px;
    display: flex;
    left: 400px;
    font-size: 20px;
}

.line-side{
    border-left: 2px solid #43a4ff;
    height: 30px;
    position: relative;
}

.title{
    padding-left: 10px;
}

.title-destaq{
    font-weight: bold;
}

.subtext{
  margin-top: 20px;
    width: 450px;
}

.text{
    color: #977b7b;
    margin-top: 5px;
    font-size: 16px;
}

.hamburguer-menu{
    position: absolute;
    top: 10px;
    left: 10px;
    color:#f0f2f5;
}

.tutorial{
    background-color: #308ac3;
    width: 170px;
    display: flex;
    margin: 0 auto;
    top:45px;
    position: relative;
    color: #ffffff;
    height: 30px;
    align-items: center;
    font-size: 14px;
    border-radius: 3px;;
}

.img-info-cicle{
    position: absolute;
    left: 15px;
}

.text-tutorial{
    margin-left: 40px;
}

#icons-links{
    display: flex;
    color: #f0f2f5;
    position: relative;
    top: 45px;
}

.text-link{
    margin-left: 10px;
    width: 130px;
}

#space{
    position: relative;
    margin-top: 20px;
}

.space-text-arrow{
    display: flex;
    margin-left: 20px;
}

 #followup-time{
    display: flex;
    background-color: #00af59; 
    margin-top: 60px;
    width: 200px;
}

 #followup-task{
    background-color: #ec3333;
    display: flex;
    width: 200px;
}  

.content-line{
    width: 70px;
    height: 7px;
    background-color: #ffae00;
    position: relative;
    left: 423px;
    margin-top: 5px;
}

.user-action{
    background-color: #00aeff;
    width: 250px;
    color: #ffffff;
    height: 40px;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    margin-top: 60px;
    padding-top: 5px;
}

#links-navigation{
    background-color: #e4e4e4;
    width: 170px;
    height: 50px;
    color: #ffffff;
    font-size: 22px;
    position: relative;
    top: -180px;
    left: 425px;
    display: none;
}

.words-links{
    padding: 10px 15px;
}

.thick-line{
    background-color: #ffae00;
    width: 65px;
    height: 5px;
}

#links-navigation{
    background-color: #e4e4e4;
    width: 170px;
    height: 50px;
    color: #ffffff;
    font-size: 22px;
    position: relative;
    top: -180px;
    left: 425px;
    display: none;
}

.words-links{
    padding: 10px 15px;
}

.thin-line{
    background-color: #ffae00;
    width: 47px;
    height: 2px;
    margin: 10px 0 15px 0;
}

#menu-tabs{
    padding-left: 425px;
    margin-top: 20px;
}

#nav-tabs{
    margin-left: 435px;
}

.tab-content{
    margin-top: 25px;
    margin-left: 435px;
}

.positive-answer{
    display: none;
}

.pag-1{
    margin: -60px 0 0 425px;
    display: none;
}

.img-cash{
    margin-left: 400px;
    margin-top: -150px;
} 

#part1-block1{
    margin-top: 120px;
}

#part2-block1{
    margin-top: 85px;
}

#part3-block1{
    margin-top: 100px;
}

.user-action-block1{
    width: 140px;
    height: 50px;
    background-color: #00af59;
    padding-top: 10px;
    text-align: center;
    margin: 120px 0 0 650px;
    cursor: pointer;
    color: #fff;
}

#part3-block1-text{
    width: 850px;
}

#list-card{
    width: 150px;
    height: 50px;
    background-color: brown;
 }

 .word-card{
     margin-left: 20px;
     text-align: right;
 }

