@keyframes highlight{
    0%{background-color: #A9F5D0;
        border: 1px solid #0000FF;}
    50%{background-color: #A9F5D0;
        border: 1px solid #0000FF;}
    100%{background-color: #A9F5D0;
        border: 1px solid #0000FF;}
}


.header{
    display: flex;
    position: absolute;
}

.header-left{
    position: relative;
    background-color: #f0f2f5;
    width: 200px;
    height: 50px;
    display: flex;
    justify-content: center;
}

.header-uppercase{
    font-size: 14px;
    margin-top: 27px;
}

.header-lowercase{
    position: absolute;
    top: 5px;
    font-size: 24px;
}

.header-gray-line{
    position: absolute;
    border-bottom: 1px solid #dcdcdc;
    width: 950px;
    left: 152px;
    top: 50px;
}

.header-icon-top{
    position: absolute;
    top: 5px;
    right: 55px;
}

.step-1-ckeckbox{
    background-color: #fff;
}

#menu{
    width: 200px;
    background-color: #434a54;
    height: 1150px;
    position: absolute;
    top: 50px;
}

.page-container{
    display: flex;
}

.page{
    position: absolute;
    top: 85px;
    left: 225px;
    font-size: 20px;
}

.page-line-side{
    border-left: 2px solid #43a4ff;
    height: 30px;
    position: relative;
    margin-left: 10px;
}

.page-title{
    padding-left: 10px;
}

.page-title-destaq{
    font-weight: bold;
}

.page-subtext{
    width: 50%;
    margin: 20px 0 0 10px;
}

.page-text{
    color: #977b7b;
    font-size: 12px;
    margin:5px 0 0 10px;
}

.hamburguer-menu{
    position: absolute;
    top: 10px;
    left: 10px;
    color:#f0f2f5;
}

.tutorial{
    background-color: #308ac3;
    width: 170px;
    display: flex;
    margin: 0 auto;
    top:45px;
    position: relative;
    color: #ffffff;
    height: 30px;
    align-items: center;
    font-size: 14px;
    border-radius: 3px;;
}

.img-info-cicle{
    position: absolute;
    left: 15px;
    top: 4px;
}

.text-tutorial{
    margin-left: 40px;
}

#icons-links{
    display: flex;
    color: #f0f2f5;
    position: relative;
    top: 45px;
}

.text-link{
    margin-left: 10px;
    width: 130px;
}

#space{
    position: relative;
    margin-top: 20px;
}

.space-text-arrow{
    display: flex;
    margin-left: 20px;
}

#followup-time{
    display: flex;
    background-color: #00af59;
    margin-top: 60px;
    width: 200px;
}

#followup-task{
    background-color: #ec3333;
    display: flex;
    width: 200px;
}

.content-line{
    width: 70px;
    height: 7px;
    background-color: #ffae00;
    position: relative;
    left: 423px;
    margin-top: 5px;
}

#user-action{
    background-color: #00aeff;
    width: 26%;
    color: #ffffff;
    height: 40px;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    padding-top: 5px;
    margin: 60px 0 0 10px;
}

#links-navigation{
    background-color: #e4e4e4;
    width: 170px;
    height: 50px;
    color: #ffffff;
    font-size: 22px;
    position: relative;
    top: -180px;
    left: 425px;
    display: none;
}

.words-links{
    padding: 10px 15px;
}

.page-thick-line{
    background-color: #ffae00;
    width: 65px;
    height: 5px;
    margin-left: 10px;
}

.page-thick-line2{
    display: block !important;
    position: relative;
    margin: 5px 0 0 235px;
}

#links-navigation{
    background-color: #e4e4e4;
    width: 170px;
    height: 50px;
    color: #ffffff;
    font-size: 22px;
    position: relative;
    top: -180px;
    left: 425px;
    display: none;
}

.words-links{
    padding: 10px 15px;
}

.nav-pills li{
    display: inline-block;
    width: 150px;
    height: 45px;
    margin:  0 15px 0 15px;
}

/* .nav-pills a
{
    margin:  0 10px 0 40px;
    
} */

#steps{
    display: none;
    position: absolute;
    margin: 115px 0 0 210px;
}

#steps-section{
    border: none;
}

/* .steps-item1{
    width: 80px;
    height: 40px;
    border: 1px solid blue;
} */

#step-initial{
    border-radius: 4px;
    background-color: #315061;
    position: relative;
    top: 26px; 
}

.step-initial-text{
    color: #fff;
    text-align: left;
    font-weight: bold;
    height: 15px;
    position: relative;
    top: -30px;
    font-size: 60px;
    left: -12px;
}

.step-initial-text span{
    font-size: 18px;
    position: absolute; 
    margin: 30px 0 0 58px; 
    font-weight: normal;
}

.steps-item{
    border-radius: 4px;
    background-color: gray;
    position: relative;
    top: -4px;
} 

.steps-past{
    background-color: #315061;
}

.steps-item p{
    color: #fff;
    font-size: 60px;
    margin-top: -30px;
    height: 45px;
    width: 100px;
    position: relative;
    left: -41px;
    font-weight: bold;
}

.steps-item p span{
    font-size: 18px;
    position: absolute; 
    margin: 30px 0 0 15px;
    font-weight: normal;
} 

.item-standard p span{
   margin-left: 45px;
}

.item-4 p span{
  margin-left: 35px;
}

.item-5 p span{
  margin-left: 65px;
}
  
#step-1-part2{
    display: none;
    margin: 50px 0 0 10px;
}

.not-active{
  pointer-events: none;
  cursor: default;
  text-decoration: none;
  color: black;
}

#step-label-option{
    margin: 2px 0  0 12px;
}

.space-steps{
    margin-top: 50px;
}

.step-page-thin-line{
    background-color: #ffae00;
    width: 47px;
    height: 2px;
    margin: 12px 0 15px 0;
}

.step-2-part1-content{
    position: absolute;
    margin: 215px 0 0 225px;
}

.step-2-part1 span{
    font-size: 16px;
    font-weight: bold;
}

#menu-tabs{
    padding-left: 425px;
    margin-top: 20px;
}

#nav-tabs{
    margin-left: 435px;
}

.tab-content{
    margin-top: 25px;
    margin-left: 435px;
}

.positive-answer{
    display: none;
}

.pag-1{
    margin: -60px 0 0 425px;
    display: none;
}

.img-cash{
    margin-left: 425px;
}

#steps-page1-radio2{
    margin-top: 65px;
}

#steps-page-content-one-part3{
    margin-top: 100px;
}

.user-action-block1{
    width: 140px;
    height: 50px;
    background-color: #00af59;
    padding-top: 10px;
    text-align: center;
    margin: 120px 0 0 650px;
    cursor: pointer;
    color: #fff;
}

#step-1-part1{
  margin-left: 10px;
}

#step-1-text{
    margin-top: 25px;
    width: 75%;
}

#activate-step-2{
    display: none;
    margin: 75px 0 0 800px;
    background-color: #11c164;
    font-size: 16px;
}

.step-3-image{
    margin: 50px 0 0 540px;
}

.step-3-image img{
    width: 150px;
    height: 150px;
}

.step-3-action{
   position: relative;
   right: 330px;
}

.step-4-image{
    margin-left: 565px;
}

.step-4-image img{
   width: 100px;
   height: 100px;
}

#list-card{
    width: 150px;
    height: 50px;
    background-color: brown;
}

.word-card{
     margin-left: 20px;
     text-align: right;
}

.nav-item{
    font-size: 15px;
}

.container{
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    position: relative;
}

.input-part3-block1{
    background-color: red;
    margin-right: 15px;
}

.step-1-part3{
    display: none;
    margin: 70px 0 0 10px;
}

#step-1-confirm1{
    margin-top: 6px;
}

#step-1-confirm2{
    margin-top: 8px;
}

#step-1-confirm3{
    margin-top: 7px;
}

.step-1-form{
display: flex;
} 

#steps-page1-form-checkbox{
    margin-top: 60px;
    display: none;
}

.step-bank{
    width: 300px;
    height: 100px;
    border: 1px solid #BDBDBD;
    border-radius: 3px;
    padding-top: 5px;
}

.step-bank p{
padding-left: 10px;
}

.step-bank  p span{
    width: 100px;  
    font-weight: bold;
    margin-right: 5px;
    font-size: 14px;
}

.bank1{
    float: left;
}

.bank1-copy{
    margin-left: 491px;
    cursor: pointer;
}

 
.bank2{
    position: absolute;
    top: 262px;
}

 #step-1-form-checkbo{
    margin-top: 20px;
} 

.step-2-part1-text{
    margin-bottom: 35px;
}

.step-2-content-bank{
    position: relative;
}

.step-2-line-vertical{
    width: 1px;
    height: 120px;
    border: 1px solid #BDBDBD;
    height: 100px;
}

.vertical1{
    position: absolute;
    left: 200px;
}

.vertical2{
    position: absolute;
    left: 685px;
    top: 52px;
}

.vertical3{
    width: 1px;
    border: 1px solid #BDBDBD;
    position: absolute;
    left: 200px;
    top: -1px;
}

.vertical4{
    position: absolute;
    left: 685px;
    top: 262px;
}

.page3-vertical4{
    position: absolute;
    top: 443px;
    left: 436px;
}

.step-2-image{
    position: absolute;
    left: 136px;
    top: -17px;
}

.step-2-image img{
    width: 100%;
}

.step-pen{
    position: absolute;
    width: 30px;
    height: 30px;
    left: 299px;
    border: 1px solid #BDBDBD;
}

.step-pen img{
    margin-top: 6px;
    width: 25px;
    height: 25px;
    padding-bottom: 10px;
}

.page2-trash{
    position: relative;
    width: 30px;
    height: 30px;
    left: 534px;
    border: 1px solid #BDBDBD;
    margin-top: -100px;
}

.page2-trash img{
    width: 28px;
    height: 32px;
    padding: 0 5px 0 2px;
}

.step-2-image2{
    top:33px;
    position: absolute;
    left: 624px;
}

.step-2-image3{
    position: absolute;
    top: 10px;
    margin-left: 200px;
}

.step-2-image3 img{
    width: 100px;
    height: 80px;
}

.image-bradesco{
    width: 100px;
    height: 80px;
    margin: 15px  0 0 65px;
}

.step-2-image4{
    position: absolute;
    top: 275px;
    left: 690px; 
}

.step-2-image4 img{
    width: 100px;
    height: 80px;
}

.page2-step-2-image4{
    position: absolute;
    top: 455px;
    left: 435px;
}

.line-vertical-bradesco{
    margin-top: 120px;
}

.bank2-copy{
    left: 491px;
    border: 1px solid #BDBDBD;
    border-radius: 3px;
    position: absolute;
    margin-top: 110px;
}

.bank2-copy p{
    padding-left: 10px;
}

.bank2-copy p span{
    width: 100px;  
    font-weight: bold;
    margin-right: 5px;
}

.line-vertical-bradesco-copy4{
    width: 1px;
    border: 1px solid #BDBDBD;
    position: absolute;
    left: 200px;
    height: 120px;
}

.copy-img-bradesco{
    position: absolute;
}


.highlight{
    animation-name: highlight;
    animation-duration: 3s;
}


#step-2-action{
    background-color: #00aeff;
    color: #fff;
    width: 270px;
    padding: 5px 0 0 0px;
    height: 45px;
    font-size: 18px;
    position: absolute;
    top: 450px;
    right: 515px;
}

.step-2-content-bank2{
    border: 1px solid #BDBDBD;
    width: 300px;
    padding-left: 10px;
    margin: 209px 0 0 491px;
}

.step-2-content-bank2 span{
    color: red;
    font-weight: normal;
    font-size: 14px;
    margin-left: 5px;
}

.step-2-part2{
    position: absolute;
    margin: 100px 0 0 110px;
    display: none;
}

.step-2-part2 form{
    font-size: 14px;
}

.step-2-part2 input{
    font-size: 14px;
}

.step-2-part2 span{
    color:red;
    padding-left: 5px;
}

.step-2-part2-text1{
    margin: 135px 0 10px 126px;
    /* display: block ruby; */
}

.step-2-part2-text2{
   margin: 85px 0 0 124px;
}

.step-2-part2-textb{
    margin: 50px 0 25px 0;
}

.step-2-part2-textb span{
    font-size: 14px;
    color: #9e8c8c;
}

.step-2-part2-content{
    display: none;
}

.step-2-part2-form input{
    font-size: 14px;
}

#steps-page2b-big-input{
    border: none;
    border-bottom: 1px solid #9e8c8c;
    width: 230px;
    cursor: pointer;
}


#steps-page2b-name2-input{
    border: none;
    border-bottom: 1px solid #BDBDBD;
    width: 250px;
    cursor: pointer;
    /* display: none;  */
}

#steps-page2b-type-input{
    border: none;
    border-bottom: 1px solid #BDBDBD;
    width: 250px;
    cursor: pointer;
    /* display: none;  */
    position: relative;
    right: 150px;
}


#step-2-bigger-input{
    border: none;
    border-bottom: 1px solid #BDBDBD;
    width: 275px;
    cursor: pointer;
    right: 150px;
}

#step-2-bigger2-input{
    border: none;
    border-bottom: 1px solid #BDBDBD;
    width: 280px;
    position: absolute;
    cursor: pointer;
    /* right: 270px; */
    right: -10px;
}

#step-2-bigger3-input{
    border: none;
    border-bottom: 1px solid #BDBDBD;
    width: 280px;
    cursor: pointer;
    /* right: 150px; */
}

#step-2-bigger4-input{
    border: none;
    border-bottom: 1px solid #BDBDBD;
    width: 280px;
    cursor: pointer;
    position: absolute;
    /* right: 270px; */
    right: -10px;
}

#step-2-accord-input{
    border: none;
    border-bottom: 1px solid #BDBDBD;
    width: 240px;
    cursor: pointer;
    position: absolute;
    right: 68px;
}

#step-2-numbers-input{
    border: none;
    border-bottom: 1px solid #00aeff;
    width: 240px;
    color: #585858;
    left: 270px;
    position: absolute;
    display: none;
    cursor: pointer;
    left: 389px;
}

#step-2-label{
    font-size: 12px;
    position: relative;
    display: none;
    top: 35px;
    right: 90px;
}

#step-2-big-input{
    border: none;
    border-bottom: 1px solid #BDBDBD;
    width: 220px;
    cursor: pointer;
}

#step-2-medium-input{
    border: none;
    border-bottom: 1px solid #BDBDBD;
    width: 115px;
    cursor: pointer;
    margin-left: 30px;
}

#step-2-medium2-input{
    border: none;
    border-bottom: 1px solid #BDBDBD;
    width: 115px;
    cursor: pointer;
    position: absolute;
    margin-left: 10px;
}

#step-2-medium3-input{
    border: none;
    border-bottom: 1px solid #BDBDBD;
    width: 105px;
    cursor: pointer;
}

#step-2-medium4-input{
    border: none;
    border-bottom: 1px solid #BDBDBD;
    width: 180px;
    cursor: pointer;
}

#step-2-medium5-input{
    border: none;
    border-bottom: 1px solid #BDBDBD;
    width: 100px;
    cursor: pointer;
    position: absolute;
    left: 20px;
}

#step-2-medium6-input{
    border: none;
    border-bottom: 1px solid #BDBDBD;
    width: 160px;
    cursor: pointer;
    position: absolute;
    right: -150px;
}

 #step-2-account-input{
    border: none;
    border-bottom: 1px solid #BDBDBD;
    width: 220px;
    cursor: pointer;
} 

#step-2-small1-input{
    border: none;
    border-bottom: 1px solid #BDBDBD;
    width: 50px;
    cursor: pointer;
}

#step-2-small2-input{
    border: none;
    border-bottom: 1px solid #BDBDBD;
    width: 50px;
    cursor: pointer;
    position: absolute;
    margin-left: 100px;
}

#step-2-small3-input{
    border: none;
    border-bottom: 1px solid #BDBDBD;
    width: 65px;
    cursor: pointer;
    position: absolute;
    left: 60px;
}

#steps-page2b-arrow{
   /*  right: 70px;
    position: absolute;
    top: 8px; */
    left: 200px;
    position: relative;
    top: -38px;
}

 .steps-page2b-arrow-1{
    position: absolute;
    right: 251px;
    display: none;
} 

#steps-page2b-arrow-b{
    position: absolute;
    top:7px;
    margin-left: 95px;
}

#steps-page2b-arrow-c{
    position: absolute;
    top: 8px;
    margin-left: 205px;
}

.bi-caret-down-fill{
    color: #BDBDBD;
    font-size: 14px;
}

.bi-list{
    font-size: 20px;
}


.step-3-skip{
    font-size: 14px;
    margin-left: 875px;
    width: 180px;
    cursor: pointer;
}

#steps-page3-action{
    color: #fff;
    background-color: #00aeff;
    margin: 40px 0 0 520px;
    width: 300px;
    height: 50px;
    font-size: 20px;
}

/* .steps-page4-content{
    background-color: #ec3333;
} */

#steps-page4-action{
    color: #00aeff!important;
    background-color: #fff;
    width: 300px;
    height: 50px;
    border: 1px solid #00aeff;
    margin: 40px 0 0 460px;
    font-size: 20px;
}

.activate-step-5-2{
    margin-left: 520px;
    cursor: pointer;
}

.step-4-skip{
    margin-left: 520px;
    font-size: 14px;
    width: 180px;
    cursor: pointer;
}

.step-doubts{
    position: absolute;
    top: 0;
    left: 735px;
    display: block ruby;
}

.step-doubts span{
    color: #ffae00;
}

.doubts-part2{
    position: absolute;
    top: 155px;
}

#activate-page{
    background-color: #5a95f5;
    font-size: 16px;
    margin: 280px 0 0 235px;
}

#activate-step-3{
    position: absolute;
    margin: 100px 0 0 800px;
    background-color: #11c164;
    font-size: 16px;
}

#activate-return-step-4{
    font-size: 16px;
    color: white;
}

#activate-step-4{
    margin: 150px 0 0 950px;
    font-size: 16px;
    background-color: #11c164;
}

#activate-page2{
    background-color: #11c164;
    font-size: 16px;
}

.step-5-part1-btns{
    margin: 20px  0 0 350px;
}

#activate-step-5{
    /* position: relative; */
    margin: 150px 0 0 920px;
    display: none;
    background-color: #11c164;
    font-size: 16px;
}

.step-text{
    margin: 210px 0 0 225px;
}

.gray-line{
    position: absolute;
    width: 120px;
    height: 2px;
    background: #ececec ;
    left: 732px;
    top: 17px;
}

.gray-line2{
  margin-top: 155px;
}

.gray-line-2{
    position: absolute;
    top:172px;
}

#step-btn-fake{
    margin: 150px 0 0 920px;
    background-color: #00af59;
    font-size: 16px;
}

.step-4-part1{
    /* display: block; */
    margin-top: 70px;
}

.step-4-part2{
    display: none;
}

.step-4-part2-image{
    display: flex;
    justify-content: center;
    align-items: center;
}

.step-4-part2-image img{
    width: 150px;
    height: 150px;
}

.step-4-part2-text1{
    margin: 50px 0 0 595px;
}

.step-4-part2-text1 p span{
    color: #ec3333;
}

.step-4-part2-text2{
    margin-left: 505px;
}

.step-4-part2-actions{
    margin: 50px  0 0 458px;
}

#step-4-part2-actions1{
    font-size: 12px;
}

.step-4-part3{
    display: none;
}

.step-4-part3-text{
    font-size: 16px;
    margin-top: 25px;
}

.step-4-part3-text1{
    margin-left: 572px;
}

.step-4-part3-text1 span{
    color: #337ab7;
    margin-left: 5px;
}

.step-4-part3-text2{
    margin-left: 480px;
}

.step-4-part3-image{
    margin: 30px 0 0 560px;
}

.step-4-part3-image img{
    width: 150px;
    height: 150px;
}

#activate-step-4-2{
    position: relative;
    width: 250px;
    margin: 40px 0 0 840px;
    font-size: 16px;
}

#activate-return-step-2{
    font-size: 12px;
    margin-left: 73px;
}

.step-4-part3{
    display: none;
}


#step-btn-fake2{
    margin: 200px 0 0 920px;
    font-size: 16px;
    background-color: #00af59;
}

.step-5-part2{
    margin: 300px 0px 0 600px;
    display: none;
}

.step-5-part2 img{
    width: 200px;
    height: 200px;
}

.step-5-part1-text{
   margin: 25px 0 0 155px;
   width: 62%;
}

.step-5-part1-text span{
    color: black;
    padding-left: 5px;

}

/* .step-5-part1-text2{
    border: 1px solid blue;
}
 */
.step-5-part2-text1{
    position: relative;
    right: 45px;
    font-size: 18px;
}

.step-5-part2-text1 span{
    color: blue;
}

.step-5-part2-text2{
    position: relative;
    right: 85px;
    font-size: 18px;
}


 .steps-indication{
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid #337ab7;
    width: 20px;
    margin-left: 60px;
} 

.indication-2{
    display:none;
}

.indication-3{
    display: none;
}

.indication-4{
    display: none;
}

.indication-5{
    display: none;
}

.step-2-part2-form{
    margin: 25px 0 0 124px;
}

.page2{
    display: none;
}

.page3{
    display: none;
}

.page-subtext1{
    margin: 120px 0 0 234px;
    font-size: 16px;
    width: 27%;
}

.page3-bank1{
    margin: 45px 0 0 235px;
}

.page3-step-image{
    position: absolute;
    margin: 273px 0 0 235px;
}

.page2-line-vertical{
    margin-left: 432px;
    border: 1px solid #bdbdbd;
    height: 100px;
    width: 1px;
    position: absolute;
    margin-top: -100px;
}

.page2-bank2{
    margin: 190px 0 0 235px;
}

.page2-img-cash{
    margin-left: 650px;
    position: absolute;
    top: 225px;
    display: block !important;
}

.page2-content-imgs{
    display: flex;
}

.page3-step-pen{
    position: relative;
    left: 534px;
    margin-top: -1px;
}

.page3-bank2{
    margin: 350px 0 0 235px;
}

.page3-img-cash{
    margin-left: 500px;
    display: block !important;
    margin: -110px 0 0 690px;
}

#page2-btn{
    margin: 15px 0 0 235px;
    font-size: 16px;
    border: none;
    background-color: #00aeff;
    color: #fff;
}

.page3-bank2-copy{
    left: 236px;
    position: absolute;
    margin-top: 112px;
}

.page3-step-2-content-bank2{
    margin: 211px 0 0 236px;
}

.step-5-part1{
    margin: 200px  0 0 215px;
    font-size: 14px;
}

.step-5-part1 img{
    width: 150px;
    height: 150px;
    margin: 75px 0 0 400px;
}

.step-5-part1-title{
    margin: 85px 0 0 292px;
    font-size: 18px;
}




